<!-- &nbsp; <input  type="text"  [(ngModel)]="firstname">

<p>&nbsp; Hello,  {{ firstname  }}</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<h3>This is an App Component</h3>-->
            <h3>{{ pageHeader }}</h3>
            <hr>
            <!-- <app-employees></app-employees> -->
            <app-servers></app-servers>
             <!-- <div class="app-servers"></div>  -->
            <!--<div app-servers></div>-->
            
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<h3>This is an App Component</h3>-->
            <h3>{{ employeeHeader }}</h3>
            <hr>           
            <app-employees></app-employees>            
        </div>
    </div>
</div>
<hr>
<div class="container">
        <div class="row">
            <div class="col-md-12">    
                <h3>{{ employeeListHeader }}</h3>
                <hr>           
                <app-employeeList></app-employeeList>            
            </div>
        </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--<h3>This is an App Component</h3>-->
            <h3>{{ resourceHeader }}</h3>
            <hr>           
            <a href="https://github.com/girishmate1988/AngularComponentsDemo" alt="MySourceCode">https://github.com/girishmate1988/AngularComponentsDemo</a>
        </div>
    </div>
</div>
<hr>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--<h3>This is an App Component</h3>-->
                <h3>{{ referenceHeader }}</h3>
                <hr>           
                <app-references></app-references>            
            </div>
        </div>
    </div>
    