<div class="container">
  <div class="row">
        <div class="col-md-6">
          <span>Kud Venkat</span>           
        </div>    
        <div class="col-md-6">
            <img src="{{imagePath}}" alt="test-image" />                    
        </div>
  </div>
  <div class="row" style="padding-top:5px">
      <div class="col-md-6">
          <span>MaxMillan Schwarzmuller</span>         
      </div>    
      <div class="col-md-6" style="padding-top:5px">          
          <img src="{{imagePath1}}" alt="test-image"/>
      </div>
</div>
</div>


     